@page
@model WebApplication1.Pages.IndexModel
@{
}
<header>
    <div>
        <ul>
            <li>
                <button onclick="/GameList/Index"> Game</button>
                <a class="nav-link" asp-page="/Gamelist/Index">Game</a>
                <a href="/Gamelist/Index">Game</a>
            </li>
        </ul>
    </div>

</header>
